/**
 * Common Style Sheet
 * Backpack Shop
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

@font-face {
  font-family: 'open sans hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(../images/fonts/opensanshebrew-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'open sans hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(../images/fonts/opensanshebrew-bold-webfont.woff) format('woff');
}

@color_text: #232930;
@color_bright_text: #FFF;
@color_background: #1e2328;
@color_bright_attention: #ff4d4d;
@color_dark_attention: #b21212;
@color_highlight: #ffd300;
@color_hover: #ffd300;
@color_ac_grey: #44494f;
@color_ac_bright_grey:#5a5e64;
@color_ac_light_grey: #ebeff0;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
