/**
 * Content Style Sheet
 * Backpack Shop
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

.triangle {
	overflow: hidden;
	z-index: 0;
}

.triangle:after,
.triangle:before {
	content: "";
	position: absolute;
	top: 0%;
	left: -100%;
	width: 4em;
	height: 4em;
	background-image:
	linear-gradient(135deg, @color_hover 49%, transparent 49%);
	transition: all 0.3s;
	z-index: -1;
}

.triangle:hover:before {
	left: 0%;
}

.triangle:after {
	top: auto;
	bottom: 0%;
	left: auto;
	right: -100%;
	width: 4em;
	height: 4em;
	background-image:
	linear-gradient(-45deg, @color_hover 49%, transparent 49%);
	transition: all 0.3s;
}

.triangle:hover:after {
	right: 0%;
}

button,
.action {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 1em 2em;
	color: @color_bright_text;
	border: 1px solid @color_hover;
	font-weight: 700;
	transition: all 0.3s;
	position: relative;
	z-index: 0;
}

button:hover,
.action:hover {
	border-color: @color_dark_attention;
}

button:before,
.action:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;
	z-index: -1;
}

button:hover:before,
.action:hover:before {
	opacity: 1;
}

.action svg {
	display: inline-block;
	vertical-align: top;
	padding: 0em 0.5em;
	width: 1.5em;
	height: 1.5em;
	fill: @color_bright_text;
	transition: all 0.3s;
}

.action:hover svg {
	fill: @color_bright_text;
}

section {
	padding: 1em calc(~'(100% - 1200px)' / 2);
}

section.contact,
section.about {
	padding: 1em calc(~'(100% - 960px)' / 2);
}

/**
 * Home page
 */
div.intro {
	background-image:
	url(../images/logo-black.svg),
	url(../images/header-home.jpg);
	background-repeat: no-repeat;
	background-position: center 40%, center top;
	background-size: 550px 250px, 1920px 700px;
	min-height: 700px;
	position: relative;
}

div.intro h1 {
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -325px;
	text-align: center;
	font-weight: 400;
	font-size: 3em;
	width: 650px;
}

div#slider {
	position: relative;
	margin-top: -70px;
	height: 300px;
}

div#slider img {
	position: absolute;
	top: 0;
	right: 0;
	width: 900px;
	height: 300px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s;
}

div#slider img.visible {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

html[dir="rtl"] div#slider img {
	right: auto;
	left: 0;
}

div#slider a {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
	width: 300px;
	height: 100px;
	color: @color_bright_text;
	background-color: @color_text;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

div#slider a:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

div#slider a:nth-of-type(2) {
	background-color: @color_ac_grey;
}

div#slider a:nth-of-type(3) {
	background-color: @color_ac_bright_grey;
}

div#slider a span {
	display: inline-block;
	vertical-align: middle;
}

div#slider a:hover span.triangle:before {
	left: 0%;
}

div#slider a:hover span.triangle:after {
	right: 0%;
}

div#slider a.active span.triangle:before {
	left: 0%;
	width: 2em;
	height: 2em;
}

div#slider a.active span.triangle:after {
	right: 0%;
	width: 2em;
	height: 2em;
}

/**
 * Product
 */
a.product {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 6.25px;
	margin-top: 6.25px;
	text-align: center;
	text-decoration: none;
	padding: 1.5em;
	box-sizing: border-box;
	width: 230px;
	color: @color_text;
	background-color: @color_bright_text;
	position: relative;
	transition: all 0.3s;
}

a.product:nth-of-type(1n) {
	margin-right: 12.5px;
}

html[dir="rtl"] a.product:nth-of-type(1n) {
	margin-right: 0;
	margin-left: 12.5px;
}

a.product:nth-of-type(5n) {
	margin-right: 0;
}

html[dir="rtl"] a.product:nth-of-type(5n) {
	margin-left: 0;
}

a.product p,
a.product h4 {
	margin: 0;
}

a.product h4 {
	padding-bottom: 0.5em;
}

a.product p {
	display: inline-block;
	padding: 0.5em 1em;
	line-height: 100%;
	color: @color_dark_attention;
	font-size: 1.2em;
	transition: all 0.3s;
	border: 1px solid @color_dark_attention;
}

a.product p:after {
	content: attr(data-currency);
	display: inline-block;
	padding: 0em 0.2em;
}

a.product img {
	padding: 0.5em;
}

/**
 * Features
 */
ul#features {
	margin: 0;
	padding: 0;
	padding-bottom: 1.5em;
	list-style-type: none;
}

ul#features li.triangle {
	display: inline-block;
	vertical-align: top;
	padding-top: 180px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	width: 380px;
	min-height: 253px;
	color: @color_text;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	transition: all 0.3s;
}

ul#features li.triangle:before {
	right: 0%;
	left: auto;
	width: 2em;
	height: 2em;
	background-image:
	linear-gradient(225deg, @color_hover 49%, transparent 49%);
}

html[dir="rtl"] ul#features li.triangle:before {
	right: auto;
	left: 0%;
	background-image:
	linear-gradient(135deg, fade(@color_hover, 80%) 49%, transparent 49%);
}

ul#features li.triangle:after {
	right: auto;
	left: 0%;
	width: 16em;
	height:16em;
	background-image:
	linear-gradient(-315deg, fade(@color_hover, 80%) 49%, transparent 49%);
	transition: all 0.3s;
}

html[dir="rtl"] ul#features li.triangle:after {
	left: auto;
	right: 0%;
	background-image:
	linear-gradient(-45deg, fade(@color_hover, 80%) 49%, transparent 49%);
	transition: all 0.3s;
}

ul#features li:nth-of-type(2) {
	margin-left: 30px;
	margin-right: 30px;
}

ul#features li p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 30%;
}

ul#features li svg {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.2em;
	width: 4em;
	height: 4em;
	fill: @color_text;
}

/**
 * Category page
 */
div#checkout_container,
section.contact,
section.about,
section.search,
section.product_details,
section.category,
section.terms,
section.warranty,
section.shipping {
	padding-top: 140px;
	background-image: url(../images/header-inner.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 700px;
}

section.product_details {
	padding-top: 160px;
}

div#checkout_container,
section.product_details {
	min-height: auto;
}

section.contact,
section.about {
	min-height: auto;
	padding-bottom: 3em;
	color: @color_bright_text;
}

section.about article {
	padding-bottom: 90px;
	background-image: url(../images/backpacks-icons.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 900px 70px;
}

section.contact h2,
section.about h2,
section.search h2,
section.category h2,
section.terms h2,
section.warranty h2,
section.shipping h2 {
	text-align: center;
	color: @color_hover;
	font-size: 3em;
	text-transform: uppercase;
}

section.contact h2,
section.about h2 {
	text-transform: none;
}

/**
 * Contact form
 */
div.contact h4 {
	margin-top: 0;
	text-align: center;
	color: @color_bright_text;
}

div.contact form label {
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
	width: 33.3%;
	box-sizing: border-box;
	color: @color_bright_text;
	position: relative;
}

div.contact form label:before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 5px;
	background-image: url(../images/form-icons.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 40px 160px;
	width: 40px;
	height: 40px;
}

html[dir="rtl"] div.contact form label:before {
	left: auto;
	right: 5px;
}

div.contact form label:nth-of-type(2):before {
	background-position: 0px -40px;
}

div.contact form label:nth-of-type(3):before {
	background-position: 0px -80px;
}

div.contact form label:last-of-type {
	display: block;
	width: 100%;
}

div.contact form label:last-of-type:before {
	display: none;
}

div.contact form label span {
	display: block;
}

div.contact form label input {
	display: block;
	box-sizing: border-box;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 35px;
	background-color: @color_bright_text;
	border: 1px solid @color_ac_bright_grey;
	width: 100%;
	transition: all 0.3s;
}

div.contact form label textarea:hover,
div.contact form label input:hover {
	border-color: fade(@color_hover, 50%);
}

div.contact form label textarea:focus,
div.contact form label input:focus {
	border-color: @color_hover;
}

html[dir="rtl"] div.contact form label input {
	padding-left: 0px;
	padding-right: 35px;
}

div.contact form label textarea {
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid @color_ac_bright_grey;
	width: 100%;
	resize: vertical;
	background-color: @color_bright_text;
	transition: all 0.3s;
}

div.contact form div.controls {
	text-align: center;
	padding: 0.5em;
}

div.contact form div.controls button {
	background-color: @color_background;
}

/**
 * Product details
 */
div.gallery,
div.detail {
	display: inline-block;
	vertical-align: top;
	padding: 1.5em;
	box-sizing: border-box;
	border: 1px solid fade(@color_bright_text, 30%);
	width: 50%;
	position: relative;
	min-height: 550px;
}

div.gallery {
	background-color: @color_bright_text;
}

div.thumbnails {
	display: block;
	padding-bottom: 332px;
}

div.thumbnails img {
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s;
	border: 1px solid transparent;
	cursor: pointer;
}

div.thumbnails img:hover {
	border: 1px solid @color_hover;
}

div.gallery img.big_image,
div.gallery iframe.big_image {
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

div.gallery img.big_image.visible,
div.gallery iframe.big_image.visible {
	opacity: 1;
	pointer-events: auto;
}

div.gallery iframe {
	width: 90%;
	height: 300px;
}

div.detail {
	background-color: @color_text;
	color: @color_bright_text;
}

div.detail div.properties,
div.detail div.information {
	display: inline-block;
	vertical-align: top;
}

div.detail div.information {
	width: calc(~'(100% - 150px)');
}

div.detail div.information h2 {
	margin-top: 0;
	text-transform: uppercase;
	color: @color_hover;
	font-size: 2.5em;
}

div.detail div.information span.price {
	font-size: 2em;
	font-weight: 700;
}

div.detail div.information span.price:after {
	content: attr(data-currency);
	display: inline-block;
	padding: 0em 0.2em;
}

div.detail div.information a.action.buy {
	margin-left: 1em;
	margin-right: 1em;
	padding: 1.1em 2em;
}

div.detail div.properties {
	width: 150px;
	box-sizing: border-box;
}

div.detail div.properties svg {
	display: block;
	padding: 0.5em;
	margin-left: auto;
	margin-bottom: 1.5em;
	width: 5em;
	height: 5em;
	fill: @color_bright_text;
	border: 1px solid fade(@color_bright_text, 30%);
}

html[dir="rtl"] div.detail div.properties svg {
	margin-left: 0;
	margin-right: auto;
}

/**
 * Related items
 */
section.related_items h3 {
	margin-top: 0;
	text-align: center;
	color: @color_bright_text;
}

/**
 * Dialogs
 */
div.dialog.login div.title {
	padding: 0.5em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	background-color: @color_hover;
	color: @color_text;
}

div.dialog.login div.content {
	padding: 2em;
	background-color: @color_background;
	color: @color_bright_text;
}

div.dialog.login p {
	margin-top: 0;
	font-size: 1.1em;
}

div.dialog.login form a {
	color: @color_bright_text;
	font-weight: 700;
}

div.dialog.login form hr {
	border-color: fade(@color_bright_text, 20%);
}

div.dialog.login label {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

div.dialog.login label input {
	padding: 0.7em 0.2em;
	border: 1px solid @color_ac_bright_grey;
	width: calc(~'(100% - 0.6em)');
	transition: all 0.3s;
}

div.dialog.login label input[type="checkbox"] {
	display: none;
}

div.dialog.login label input[type="checkbox"]:checked ~ span:before {
	transform: scale(1);
}

div.dialog.login label span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

div.dialog.login label span:before,
div.dialog.login label span:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	left: 102%;
	width: 1em;
	height: 1em;
	border: 1px solid @color_ac_bright_grey;
}

div.dialog.login label span:before {
	background-image: url(../images/check_mark.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em;
	transform: scale(0);
	transition: all 0.3s;
}

html[dir="rtl"] div.dialog.login label span:before,
html[dir="rtl"] div.dialog.login label span:after {
	left: auto;
	right: 102%;
}

div.dialog.login label input:hover {
	border-color: fade(@color_hover, 80%);
}

div.dialog.login label input:focus {
	border-color: @color_hover;
}

div.dialog.login div.captcha {
	display: inline-block;
	vertical-align: middle;
}

div.dialog.login div.command_bar a {
	padding: 0.7em 1.5em;
	color: @color_bright_text;
	background-color: transparent;
	border: 1px solid @color_hover;
	position: relative;
	z-index: 0;
}

div.dialog.login div.command_bar a:hover {
	border-color: @color_dark_attention;
}

div.dialog.login div.command_bar a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;
	z-index: -1;
}

div.dialog.login div.command_bar a:hover:before {
	opacity: 1;
}

/**
 * Checkout pages
 */
div#checkout_steps a {
	color: @color_bright_text;
}

div#checkout_steps a:before {
	border-radius: 0;
	background-color: fade(@color_hover, 90%);
	border: 1px solid @color_hover;
}

div#checkout_steps a:hover:before {
	background-color: @color_hover;
}

div#checkout_steps a.active:before {
	background-color: @color_dark_attention;
	border: 1px solid @color_dark_attention;
}

html[dir=rtl] div#checkout_steps a:not(:last-of-type):after {
	border-right: 5px solid @color_hover;
}

div#input_details {
	border-radius: 0;
	border: none;
}

div#input_details h1 {
	border-radius: 0;
	padding: 0.5em;
	background-color: linear-gradient(180deg, #332e2f 0%, #000000 100%);
}

div#input_details a {
	color: @color_text;
	font-weight: 700;
}

div#input_details label select,
div#input_details label input {
	border-color: @color_ac_bright_grey;
	border-radius: 0;
}

div#input_details label select:hover,
div#input_details label input:hover {
	border-color: @color_hover;
}

div#input_details label.radio input + span:before,
div#input_details label.checkbox input + span:before {
	border-radius: 0;
}

div.checkout_controls button,
html[dir=rtl] div.checkout_controls button {
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	color: @color_bright_text;
	border: 1px solid @color_hover;
	background-color: transparent;
	position: relative;
	z-index: 0;
}

div.checkout_controls button:before,
html[dir=rtl] div.checkout_controls button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;
	z-index: -1;
}

div.checkout_controls button:hover:before,
html[dir=rtl] div.checkout_controls button:hover:before {
	opacity: 1;
}

div.checkout_controls button:hover,
html[dir=rtl] div.checkout_controls button:hover {
	border-color: @color_dark_attention;
}

/**
 * Tablet version
 */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

	.action {
		padding: 1em 1em;
	}

	header {
		width: auto;
		left: 0;
		right: 0;
	}

	header form {
		margin: 0 1em;
	}

	header form label input {
		-webkit-border-radius:0px;
		-webkit-appearance: none;
	}

	div.user a,
	nav#language a,
	header > div a {
		padding: 1em 1em;
	}

	header div.user {
		display: inline-block;
		vertical-align: middle;
		float: right;
	}

	section {
		padding: 1em calc(~'(100% - 960px)' / 2);
	}

	div.intro {
		background-repeat: no-repeat;
		background-position: center 45%, center top;
		background-size: 35% auto, auto 100%;
		min-height: 480px;
		position: relative;
	}

	div.intro h1 {
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -250px;
		text-align: center;
		font-weight: 400;
		font-size: 2em;
		width: 500px;
	}

	div#slider {
		height: 400px;
		text-align: center;
	}

	div#slider a {
		display: inline-block;
		vertical-align: top;
	}

	div#slider img {
		top: 100px;
		left: 50%;
		margin-left: -450px;
	}

	html[dir="rtl"] div#slider img {
		left: auto;
		right: 50%;
		margin-left: 0;
		margin-right: -450px;
	}

	ul#features li.triangle {
		width: 300px;
		min-height: 270px;
		background-size: cover;
	}

	ul#features li p {
		display: block;
		width: 80%;
	}

	a.product:nth-of-type(1n) {
		margin-left: 5px;
		margin-right: 5px;
	}

	html[dir="rtl"] a.product:nth-of-type(1n) {
		margin-right: 5px;
		margin-left: 5px;
	}

	a.product {
		margin-left: 5px;
		margin-right: 5px;
	}

	div.detail div.information a.action.buy {
		padding: 1.1em 1em;
	}

}

section.terms {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}

section.warranty {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}

section.shipping {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}