/**
* Content mobile Style Sheet
* Backpack Shop
*
* Copyright (c) 2016. by Way2CU, http://way2cu.com
* Authors:Tal Reznic
*/

.triangle {
	overflow: hidden;
	z-index: 0;
}

.triangle:after,
.triangle:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 1em;
	height: 1em;
	background-image:
	linear-gradient(135deg, @color_hover 49%, transparent 49%);
	transition: all 0.3s;
	z-index: -1;
}

.triangle:after {
	top: auto;
	bottom: 0%;
	left: auto;
	right: 0%;
	width: 1em;
	height: 1em;
	background-image:
	linear-gradient(-45deg, @color_hover 49%, transparent 49%);
	transition: all 0.3s;
}

button,
.action {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 1em 1em;
	color: @color_bright_text;
	border: 1px solid @color_dark_attention;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	font-weight: 700;
	transition: all 0.3s;
	position: relative;
}

.action svg {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.2em;
	width: 1.5em;
	height: 1.5em;
	fill: @color_bright_text;
	transition: all 0.3s;
}

section {
	padding: 1em 0em;
}

section.promoted {
	padding: 0;
	text-align: center;
}

/**
* Home page
*/
div.intro {
	padding-top: 170px;
	background-image:
	url(../images/logo-black.svg),
	url(../images/mobile-header.jpg);
	background-repeat: no-repeat;
	background-position: center 1.5em, center top;
	background-size: 250px 115px, 100% auto;
	height: 100vw;
	position: relative;
}

div.intro h1 {
	margin: 0;
	padding: 0em 0.5em;
	text-align: center;
	font-weight: 400;
	font-size: 1.5em;
}

div#slider {
	position: relative;
	height: 270px;
}

div#slider img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s;
}

div#slider img.visible {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

html[dir="rtl"] div#slider img {
	right: auto;
	left: 0;
}


div#slider a {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
	height: 50px;
	color: @color_bright_text;
	background-color: @color_text;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

div#slider a:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

div#slider a:nth-of-type(2) {
	background-color: @color_ac_grey;
}

div#slider a:nth-of-type(3) {
	background-color: @color_ac_bright_grey;
}

div#slider a span {
	display: inline-block;
	vertical-align: middle;
}

div#slider a span.triangle:before {
	left: -100%;
}

div#slider a span.triangle:after {
	right: -100%;
}

div#slider a.active span.triangle:before {
	left: 0%;
	width: 1em;
	height: 1em;
}

div#slider a.active span.triangle:after {
	right: 0%;
	width: 1em;
	height: 1em;
}

/**
* Product
*/
a.product {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	text-align: center;
	text-decoration: none;
	padding: 0.5em;
	box-sizing: border-box;
	width: 150px;
	color: @color_text;
	background-color: @color_bright_text;
	position: relative;
	transition: all 0.3s;
}

a.product p,
a.product h4 {
	margin: 0;
}

a.product h4 {
	padding-bottom: 0.5em;
}

a.product p {
	display: inline-block;
	padding: 0.5em 1em;
	line-height: 100%;
	color: @color_dark_attention;
	font-size: 1em;
	transition: all 0.3s;
	border: 1px solid @color_dark_attention;
}

a.product p:after {
	content: attr(data-currency);
	display: inline-block;
	padding: 0em 0.2em;
}

a.product img {
	padding: 0.5em;
}

/**
* Features
*/
ul#features {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul#features li.triangle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	padding-top: 125px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	width: 300px;
	min-height: 200px;
	color: @color_text;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	transition: all 0.3s;
}

ul#features li.triangle:before {
	right: 0%;
	left: auto;
	width: 2em;
	height: 2em;
	background-image:
	linear-gradient(225deg, @color_hover 49%, transparent 49%);
}

html[dir="rtl"] ul#features li.triangle:before {
	right: auto;
	left: 0%;
	background-image:
	linear-gradient(135deg, fade(@color_hover, 80%) 49%, transparent 49%);
}

ul#features li.triangle:after {
	right: auto;
	left: 0%;
	width: 16em;
	height:16em;
	background-image:
	linear-gradient(-315deg, fade(@color_hover, 80%) 49%, transparent 49%);
	transition: all 0.3s;
}

html[dir="rtl"] ul#features li.triangle:after {
	left: auto;
	right: 0%;
	background-image:
	linear-gradient(-45deg, fade(@color_hover, 80%) 49%, transparent 49%);
	transition: all 0.3s;
}

ul#features li p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

ul#features li svg {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.2em;
	width: 4em;
	height: 4em;
	fill: @color_text;
}

/**
* Category page
*/
div#checkout_container,
section.contact,
section.about,
section.search,
section.product_details,
section.category,
section.terms,
section.warranty,
section.shipping {
	text-align: center;
	background-image: url(../images/mobile-inner.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

section.contact,
section.about {
	padding: 0.5em;
	text-align: inherit;
}

div#checkout_container,
section.product_details {
	min-height: auto;
	background-image: none;
}

section.product_details {
	padding: 0;
}

section.about article {
	padding-bottom: 30px;
	background-image: url(../images/backpacks-icons.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	color: @color_bright_text;
}

section.contact h2,
section.about h2,
section.search h2,
section.category h2,
section.terms h2,
section.warranty h2,
section.shipping h2 {
	margin-top: 0;
	text-align: center;
	color: @color_bright_text;
	font-size: 1.5em;
	text-transform: uppercase;
}

section.contact h2,
section.about h2,
section.terms h2,
section.warranty h2,
section.shipping h2 {
	margin: 0;
	padding: 0.5em 0em;
	color: @color_hover;
	text-transform: none;
}

/**
* Contact form
*/
div.contact h4 {
	text-align: center;
	color: @color_bright_text;
}

div.contact form label {
	display: block;
	padding: 0.5em;
	width: 100%;
	box-sizing: border-box;
	color: @color_bright_text;
	position: relative;
}

div.contact form label:before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 5px;
	background-image: url(../images/form-icons.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 40px 160px;
	width: 40px;
	height: 40px;
}

html[dir="rtl"] div.contact form label:before {
	left: auto;
	right: 5px;
}

div.contact form label:nth-of-type(2):before {
	background-position: 0px -40px;
}

div.contact form label:nth-of-type(3):before {
	background-position: 0px -80px;
}

div.contact form label:last-of-type {
	display: block;
	width: 100%;
}

div.contact form label:last-of-type:before {
	display: none;
}

div.contact form label span {
	display: block;
}

div.contact form label input {
	display: block;
	box-sizing: border-box;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 35px;
	background-color: @color_bright_text;
	border: 1px solid @color_ac_bright_grey;
	width: 100%;
	transition: all 0.3s;
}

html[dir="rtl"] div.contact form label input {
	padding-left: 0px;
	padding-right: 35px;
}

div.contact form label textarea {
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid @color_ac_bright_grey;
	width: 100%;
	resize: vertical;
	background-color: @color_bright_text;
	transition: all 0.3s;
}

div.contact form div.controls {
	text-align: center;
}

div.contact form div.controls button {
	background-color: @color_background;
}

/**
* Product details
*/
div.gallery,
div.detail {
	display: block;
	padding: 1em;
	position: relative;
}

div.gallery {
	padding-top: 350px;
	background-color: @color_bright_text;
}

div.thumbnails {
	display: block;
	position: relative;
}

div.thumbnails img {
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s;
	border: 1px solid transparent;
	cursor: pointer;
}

div.thumbnails img:hover {
	border: 1px solid @color_hover;
}

div.gallery img.big_image,
div.gallery iframe.big_image {
	position: absolute;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}

div.gallery img.big_image.visible,
div.gallery iframe.big_image.visible {
	opacity: 1;
	pointer-events: auto;
}

div.gallery iframe {
	width: 90%;
	height: 200px;
}

div.detail {
	background-color: @color_text;
	color: @color_bright_text;
}

div.detail div.properties,
div.detail div.information {
	display: block;
}

div.detail div.information h2 {
	margin: 0;
	text-transform: uppercase;
	color: @color_hover;
	font-size: 2em;
}

div.detail div.information span.price {
	font-size: 1.5em;
	font-weight: 700;
}

div.detail div.information span.price:after {
	content: attr(data-currency);
	display: inline-block;
	padding: 0em 0.2em;
}

div.detail div.information a {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

div.detail div.information a.action.buy {
	padding: 1.1em 1em;
}

div.detail div.properties {
	display: block;
	margin-top: 1em;
}

div.detail div.properties svg {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding: 0.5em;
	width: 4em;
	height: 4em;
	fill: @color_bright_text;
	border: 1px solid fade(@color_bright_text, 30%);
}

/**
* Related items
*/
section.related_items {
	text-align: center;
}

section.related_items h3 {
	margin-top: 0;
	color: @color_bright_text;
}

/**
* Dialogs
*/

div.dialog.login div.title {
	padding: 0.3em;
	background-color: @color_hover;
	color: @color_text;
}

div.dialog.login div.content {
	background-color: @color_background;
	color: @color_bright_text;
}

div.dialog.login p {
	margin: 0;
	padding: 0.2em 0.3em;
}

div.dialog.login form {
	padding: 0.3em;
}

div.dialog.login form a {
	color: @color_bright_text;
	font-weight: 700;
}

div.dialog.login form hr {
	border-color: fade(@color_bright_text, 20%);
}

div.dialog.login label {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

div.dialog.login label input {
	padding: 0.4em 0.2em;
	border: 1px solid @color_ac_bright_grey;
	transition: all 0.3s;
	width: calc(~'(100% - 0.4em - 2px)');
}

div.dialog.login label input[type="checkbox"] {
	display: none;
}

div.dialog.login label input[type="checkbox"]:checked ~ span:before {
	transform: scale(1);
}

div.dialog.login label span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

div.dialog.login label span:before,
div.dialog.login label span:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	left: 102%;
	width: 1em;
	height: 1em;
	border: 1px solid @color_ac_bright_grey;
}

div.dialog.login label span:before {
	background-image: url(../images/check_mark.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em;
	transform: scale(0);
	transition: all 0.3s;
}

html[dir="rtl"] div.dialog.login label span:before,
html[dir="rtl"] div.dialog.login label span:after {
	left: auto;
	right: 102%;
}

div.dialog.login div.captcha {
	display: inline-block;
	vertical-align: middle;
}

div.dialog.login div.command_bar a {
	padding: 0.5em 1em;
	color: @color_bright_text;
	background-color: transparent;
	border-color: @color_dark_attention;
	position: relative;
	z-index: 0;
}

div.dialog.login div.command_bar a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;
	z-index: -1;
}

/**
* Checkout pages
*/
div#checkout_steps.input_details {
	text-align: left;
}

html[dir="rtl"] div#checkout_steps.input_details {
	text-align: right;
}

div#checkout_steps a {
	display: block;
	margin-bottom: 5px;
	color: @color_bright_text;
}

div#checkout_steps a:before {
	border-radius: 0;
	background-color: fade(@color_hover, 90%);
	border: 1px solid @color_hover;
}

div#checkout_steps a:hover:before {
	background-color: @color_hover;
}

div#checkout_steps a.active:before {
	background-color: @color_dark_attention;
	border: 1px solid @color_dark_attention;
}

html[dir=rtl] div#checkout_steps a:not(:last-of-type):after {
	border-right: 5px solid @color_hover;
}

div#input_details {
	border-radius: 0;
	border: none;
}

div#input_details h1 {
	border-radius: 0;
	padding: 0.5em;
	background-color: linear-gradient(180deg, #332e2f 0%, #000000 100%);
}

div#input_details a {
	color: @color_text;
	font-weight: 700;
}

div#input_details label select,
div#input_details label input {
	border-color: @color_ac_bright_grey;
	border-radius: 0;
}

div#input_details label.radio input + span:before,
div#input_details label.checkbox input + span:before {
	border-radius: 0;
}

div.checkout_controls button,
html[dir=rtl] div.checkout_controls button {
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	color: @color_bright_text;
	border-color: @color_dark_attention;
	background-color: transparent;
	position: relative;
	z-index: 0;
}

div.checkout_controls button:before,
html[dir=rtl] div.checkout_controls button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;
	z-index: -1;
}

section.terms {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}

section.warranty {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}

section.shipping {
	article {
		color: @color_bright_text;
		text-align: center;
	}
}