/**
 * Header mobile Style Sheet
 * Backpack Shop
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

header > div.mobile_title {
  padding: 0.2em 0em;
  background-image: linear-gradient(180deg, #332e2f 0%, #000 100%);
}

div.mobile_title a.menu,
div.mobile_title a.cart {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2em;
  padding: 1em;
}

html[dir="rtl"] div.mobile_title a.menu,
html[dir="rtl"] div.mobile_title a.cart {
  left: auto;
  right: 0;
}

div.mobile_title a.cart {
  left: auto;
  right: 0;
}

html[dir="rtl"] div.mobile_title a.cart {
  left: 0;
  right: auto;
}

div.mobile_title a.menu svg,
div.mobile_title a.cart svg {
  display: block;
  width: 2em;
  height: 2em;
  fill: @color_bright_text;
}

div.mobile_title a.cart.blink svg {
  fill: @color_dark_attention;
}

div.mobile_title a.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

div.mobile_title a.logo svg {
  fill: @color_bright_text;
}

nav.mobile_menu {
  top: 56px !important;
  padding: 0.5em;
  width: calc(~'(100% - 1em)');
}

html[dir="rtl"] nav.mobile_menu {
  right: -100%;
  left: auto;
}

nav.mobile_menu form {
  border: 1px solid @color_text;
  overflow: hidden;
}

nav.mobile_menu form button,
nav.mobile_menu form label {
  display: inline-block;
  vertical-align: middle;
  width: calc(~'(100% - 3em)');
}

nav.mobile_menu form button {
  width: 3em;
  border: 0;
  padding: 0.7em 0.5em;
  background-image:
    linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
}

nav.mobile_menu form button svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.5em;
  height: 1.5em;
  fill: @color_bright_text;
}

nav.mobile_menu form label span {
  font-size: 0;
}

nav.mobile_menu form label input {
  border: 0;
  padding: 0.5em;
  width: 100%;
}

nav.mobile_menu {
  a {
    text-decoration: none;
    color: @color_text;
  }
}

nav#categories {
  margin: 1em 0em;
  padding-top: 1em;
  padding-bottom: calc(~'(1em - 4%)');
  border-top: 1px solid @color_ac_light_grey;
  border-bottom: 1px solid @color_ac_light_grey;
}

nav.mobile_menu div.scroll {
  height: 200px;
  overflow-y: scroll;
}

div.scroll div.user {
  padding-bottom: 1em;
  border-bottom: 1px solid @color_ac_light_grey;
}

div.scroll div.user a,
nav#categories a {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4%;
  padding: 1em;
  line-height: 100%;
  text-align: center;
  width: 48%;
  border: 1px solid darken(@color_ac_light_grey, 10%);
  box-sizing: border-box;
}

div.scroll div.user a {
  padding: 0.5em 1em;
  margin-bottom: 0;
  border-color: @color_dark_attention;
}

div.scroll div.user a svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  padding: 0em 0.2em;
}

div.scroll div.user a:nth-of-type(2n),
nav#categories a:nth-of-type(2n) {
  margin-left: 4%;
}

html[dir="rtl"] div.scroll div.user a:nth-of-type(2n),
html[dir="rtl"] nav#categories a:nth-of-type(2n) {
  margin-right: 4%;
  margin-left: 0;
}

div.scroll div.main_links a {
  display: block;
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid @color_ac_light_grey;
}

/**
 * Facebook link
 */
div.scroll a.share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
  margin-top: 2rem;
  width: 100px;
  padding: 0.5em;
  border: 1px solid @color_dark_attention;
}

div.scroll a.share svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.2em;
  width: 1.5rem;
  height: 1.5rem;
}

div.scroll div.languages {
  text-align: center;
  padding-bottom: 5em;
}

div.scroll div.languages a {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 0.5em 1em;
  border: 1px solid @color_dark_attention;
}

/**
 * Mobile cart
 */
div.cart {
  position: absolute;
  top: 56px;
  left: -100%;
  width: 100%;
  background-color: @color_bright_text;
  z-index: 100;
  transition: all 0.6s;
}

div.cart.active {
  left: 0;
  right: auto;
}

ul#products {
  margin: 0;
  padding: 0em;
  list-style-type: none;
}

ul#products li.item {
  background-color: @color_bright_text;
  color: @color_text;
}

ul#products li.item span,
ul#products li.item img {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
}

ul#products li.item > div {
  display: block;
  text-align: center;
}

ul#products li.item span.name {
  font-weight: 700;
}

ul#products li.item span.total:after {
  content: attr(data-currency);
  display: inline-block;
  padding: 0em 0.2em;
}

ul#products li.item > div a {
  display: inline-block;
  padding: 1em 0.5em;
  cursor: pointer;
}

ul#products li.item > div a:hover {
  background-color: transparent;
}

ul#products li.item > div a svg {
  width: 1em;
  height: 1em;
  transition: all 0.3s;
  fill: @color_text;
}

ul#products li.item > div a:hover svg {
  fill: @color_dark_attention;
}

div.cart div.total {
  padding-bottom: 0.5em;
  background-color: @color_ac_light_grey;
  color: @color_text;
  border-top: 1px solid fade(@color_background, 20%);
}

div.cart div.total span {
  display: inline-block;
  vertical-align: middle;
  padding: 1em 0.5em;
}

div.cart div.total span.bold {
  font-weight: 700;
}

div.cart div.total a.buy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em 0em;
  width: 150px;
  color: @color_bright_text;
  font-weight: 700;
  border: 1px solid @color_dark_attention;
  transition: all 0.3s;
}