/**
 * Header Style Sheet
 * Backpack Shop
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

header {
	position: fixed;
	top: 25px;
	left: calc(~'(50% - 600px)');
	width: 1200px;
	background-color: fade(@color_bright_text, 90%);
	box-shadow: 0px 2px 25px fade(@color_background, 50%);
	z-index: 100000;
	transition: all 0.3s;
}

header.active {
	top: 0;
}

header svg {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.4em;
	width: 1rem;
	height: 1rem;
	fill: @color_bright_text;
	transform: scale(1.4);
}

header > div:first-of-type {
	background-image: linear-gradient(180deg, #332e2f 0%, #000 100%);
}

div.lang {
	float: right;

	html[dir=rtl] & {
		float: left;
	}
}

nav#language {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 1em;
	transition: all 0.3s;

	div.dropdown {
		display: none;
		background-color: @color_bright_text;
		box-shadow: 0px 2px 15px fade(@color_background, 50%);
		display: block;
		position: absolute;
		top: 99%;
		right: 0;
		padding: 0.3rem;
		z-index: 1000;
		opacity: 0;
		text-align: center;
		transform: rotateX(-90deg);
		transform-style: preserve-3d;
		transform-origin: 50% 0%;
		transition: all 0.3s;

		html[dir=rtl] & {
			right: unset;
			left: 0;
		}

		a {
			display: block;
			text-decoration: none;
			color: @color_text;
			border-bottom: 1px solid lighten(@color_text, 70%);
			transition: all 0.3s;

			&:hover {
				color: @color_bright_text;
			}

			&.active {
				text-decoration: underline;
				background-color: @color_hover;
			}
		}
	}

	&:hover {
		background: linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	}

	&:hover div.dropdown {
		opacity: 1;
		transform: rotateX(0deg);
	}
}

div.user {
	float: right;

	html[dir=rtl] & {
		float: left;
	}
}

div.user a,
nav#language a,
header > div  a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 1em;
	color: @color_bright_text;
	transition: all 0.3s;
}

header > div a.active {
	background-color: @color_hover;
	color: @color_text;
	text-decoration: underline;
}

nav#language a {
	padding: 1rem;
}

nav#language a:hover,
header > div a:hover {
	background: linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	color: @color_bright_text;
	transition: all 0.3s;
}

header form {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	line-height: 100%;

	html[dir=rtl] & {
		margin-right: 0;
		margin-left: 1em;
	}
}

header form label {
	display: inline-block;
	vertical-align: top;
}

header form label input {
	vertical-align: top;
	padding: 0.4em 0.2em;
	border: 1px solid transparent;
	width: 100px;
	transition: all 0.5s;
}

header form span {
	font-size: 0;
}

header form label input:focus,
header form label input:hover {
	width: 200px;
	outline: none;
}

header form button {
	display: inline-block;
	vertical-align: top;
	padding: 0.45em 0.4em;
	border: none;
	background-color: @color_ac_light_grey;
	transition: all 0.3s;
}

header form button:hover {
	background: linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	transition: all 0.3s;

	svg {
		fill: @color_bright_text;
	}
}

header form button svg {
	fill: @color_text;
	transition: all 0.3s;
}

/**
 * Drop down menu
 */
nav#main {
	display: inline-block;
	vertical-align: middle;
	padding: 1em 1em;
	cursor: pointer;
	position: relative;
	transition: all 0.6s;
	transition-delay: 0s;
	position: relative;
	z-index: 1;
}

nav#main:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}

nav#main.show:before,
nav#main:hover:before {
	opacity: 1;
}

nav#main div.drop_down {
	position: absolute;
	padding: 0.3em;
	left: 0;
	top: 100%;
	background-color: white;
	box-shadow: 0px 2px 15px fade(@color_background, 50%);
	width: 300px;
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
	transform: rotateX(-90deg);
	transform-style: preserve-3d;
	transform-origin: 50% 0%;
	transition: all 0.3s;
}

nav#main.show div.drop_down,
nav#main:hover div.drop_down {
	max-height: 500px;
	opacity: 1;
	visibility: visible;
	transform: rotateX(0deg);
}

html[dir="rtl"] nav#main div.drop_down {
	right: 0;
	left: auto;
}

nav#main div.drop_down a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: @color_text;
	border-bottom: 1px solid lighten(@color_text, 70%);
	transition: all 0.3s;
}

nav#main div.drop_down a:last-of-type {
	border-bottom: none;
}

nav#main div.drop_down a:hover {
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	color: @color_bright_text;
}

nav#main div.drop_down a.active {
	background-color: @color_hover;
	text-decoration: underline;
}

/**
 * Category menu
 */
nav#categories {
	display: inline-block;
	vertical-align: middle;
}

nav#categories a {
	display: inline-block;
	text-decoration: none;
	padding: 1em 2em;
	font-weight: 700;
	color: @color_text;
	text-transform: uppercase;
	transition: all 0.3s;
	position: relative;
	z-index: 0;
}

nav#categories a:hover {
	color: @color_bright_text;
}

nav#categories a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}

nav#categories a:hover:before {
	opacity: 1;
}

nav#categories a.active {
	background-color: @color_hover;
	text-decoration: underline;
	color: @color_text;
}

/**
 * SSL signature
 */
span.ssl {
	display: inline-block;
	vertical-align: middle;
	border: none;
	padding: 0em 1em;
	margin: 0;
	color: @color_bright_text;
}

span.ssl img {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.2em;
	width: 45px;
}

/**
 * Cart
 */
@keyframes signal {
	0% {opacity:  0.8;}
	50% {opacity:  0;}
	100% {opacity:  0.8;}
}

div.cart {
	padding: 0.4em 0.4em;
	float: right;
	background-color: transparent;
	transition: all 0.3s;
	position: relative;
	cursor: pointer;
	z-index: 0;
}

div.cart.show {
	color: @color_bright_text;
}

div.cart.active:after {
	animation-name: signal;
	animation-duration: 1s;
}

div.cart:hover {
	color: @color_bright_text;
}

div.cart:after,
div.cart:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(~'(100% + 2px)');
	background-image:
	linear-gradient(180deg, @color_bright_attention 0%, @color_dark_attention 100%);
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}

div.cart.show:before,
div.cart:hover:before {
	opacity: 1;
}

html[dir="rtl"] div.cart {
	float: left
}

div.cart svg {
	padding: 0em 0.2em;
	fill: @color_text;
	transition: all 0.3s;
}

div.cart.show svg,
div.cart:hover svg {
	fill: @color_bright_text;
}

div.cart > span {
	display: inline-block;
	margin-left: 0.4em;
	border: 1px solid @color_text;
	color: @color_text;
	padding: 0.5em 0.8em;
	transition: all 0.3s;
}

div.cart.show > span {
	color: @color_bright_text;
	border: 1px solid @color_bright_text;
}

html[dir="rtl"] div.cart > span {
	margin-left: 0;
	margin-right: 0.4em;
}

div.cart.show:hover > span,
div.cart:hover > span {
	color: @color_bright_text;
	border-color: @color_bright_text;
}

div.cart div.popup {
	position: absolute;
	top: 100%;
	right: 0;
	width: 600px;
	background-color: fade(@color_bright_text, 90%);
	box-shadow: 0px 2px 15px fade(@color_background, 50%);
	transform: rotateX( -90deg);
	transform-style: preserve-3d;
	transform-origin: 50% 0%;
	min-height: 0px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s;
	transition-delay: 0.3s;

	html[dir="rtl"] & {
		right: auto;
		left: 0;
	}
}

div.cart.show div.popup {
	min-height: 500px;
	visibility: visible;
	opacity: 1;
	transform: rotateX(0deg);
	transition-delay: 0s;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

ul#products {
	margin: 0;
	padding: 0em;
	list-style-type: none;
}

ul#products li.item {
	background-color: @color_bright_text;
	color: @color_text;
	border-bottom: 1px solid fade(@color_text, 20%);
}

ul#products li.item span,
ul#products li.item img,
ul#products li.item > div {
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
}

ul#products li.item span.name {
	font-weight: 700;
	width: 25%;
	word-wrap: break-word;
}

ul#products li.item span.total:after {
	content: attr(data-currency);
	display: inline-block;
	padding: 0em 0.2em;
}

ul#products li.item > div a {
	display: inline-block;
	padding: 1em 0.5em;
	cursor: pointer;
}

ul#products li.item > div a:hover {
	background-color: transparent;
}

ul#products li.item > div a svg {
	width: 1em;
	height: 1em;
	transition: all 0.3s;
	fill: @color_text;
}

ul#products li.item > div a:hover svg {
	fill: @color_dark_attention;
}

div.cart div.total {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @color_background;
	color: @color_bright_text;
	border-top: 1px solid fade(@color_background, 20%);
}

div.cart div.total span {
	display: inline-block;
	vertical-align: middle;
	padding: 2em 0.5em;
}

div.cart div.total span.bold {
	font-weight: 700;
}

div.cart div.total a.buy {
	float: right;
	margin: 1em 0.5em;
	color: @color_bright_text;
	font-weight: 700;
	border: 1px solid @color_hover;
	transition: all 0.3s;
}

html[dir="rtl"] div.cart div.total a.buy {
	float: left;
}

div.cart div.total a.buy:hover {
	border-color: @color_dark_attention;
}