/**
 * Main mobile Style Sheet
 * Backpack Shop
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

@import "common.less";
@import "header_mobile.less";
@import "content_mobile.less";
@import "footer_mobile.less";
@import "stock/copyright.css";

body {
  padding-top: 56px;
  background-color: @color_background;
  color: @color_text;
  font-family: 'open sans hebrew', Arial;
}

input,
select,
textarea,
button {
  font-weight: 400;
  font-family: 'open sans hebrew', Arial;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
